* { 
    font-family: "Iosevka";
    font-size : 1.1rem;
    margin: 2px;
    padding: 1px
}

window {
border-radius: 12px;
#background-color: #24252F;
    background-color: rgba(20, 22, 30, 1); 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
    #box-shadow: 1 1 3 3px #151515;
    #transition-property: background-color;
    #transition-duration: .5s;

}

#input {
margin-left: 20px;
margin-right: 20px;
border: 2px solid #C5CFF5;
background-color: #24252F;
color: #C5CFF5;
}

#inner-box {
border: 2px solid #24252F;
background-color: #24252F;
}

#outer-box {
border: 2px solid #24252F;
background-color: #24252F;
}

#scroll {
border: 2px solid #24252F;
background-color: #24252F;
}

#text {
color: #C5CFF5;
}

#entry:selected {
background-color: #C5CFF5;
border-radius: 5px;
}

#text:selected {
color: #24252F;
}
